<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.8">
	<title>${title}</title>
	<link type="text/css" href="${uri}/lib/style.css" rel="stylesheet" />
	<style><!-- ${css} --></style>
</head>
<body>
<div id="master">
	<div id="site_header">
		<div id="terminal">


			<figure aria-labelledby="header_cowsay_caption" class="hide_mobile">
				<figcaption id="header_cowsay_caption" class="cowsay_box" >This is what happens when you prioritise showing off over SEO.</figcaption>
				<pre>        \   ^__^<br>         \  (oo)________<br>            (__)        )\/\<br>                ||----w |<br>                ||     ||</pre>
			</figure>
			<span id="prerendered_prompt">[guest@${domain}:${pwd}]</span>
		</div>
		<div id="header_hr"><hr></div>
	</div>
	<div id="site_container">
${body}
	</div>

</div>
<script src="${uri}/lib/aojs/ao.js"></script>
<script type="text/javascript"><!--
	var ao = ao_get().include('terminal');
--></script>
<script src="${uri}/lib/robjh.js"></script>
<script><!--
'use strict';

	var g = {
		path: "${pwd}${name}",
	};

	ao.ready(ao.state_machine({ states: {
		create_objects: function(sm) {
			g.fs = robjh.fs({
				chroot: "${uri}",
			});

			g.target = g.fs.root.path_resolve_create(g.path, "${doctype}");
			g.pwd = g.target.is_dir ? g.target : g.target.parent();

			g.page = robjh.page({
				container:  document.getElementById('site_container'),
				global:     true,
				fs:         g.fs
			});

			return sm.continue(sm.next);
		},

		expand_filesystem: function(sm, ctx) {
			// expand the filesystem model using hyperlinks found on the pre-rendered page
			ctx.a_arr = Array.prototype.slice.call(
				document.getElementById('site_container').getElementsByTagName('a')
			);
			for (var i = 0, l = ctx.a_arr.length ; i < l ; ++i) {
				var path = ctx.a_arr[i].getAttribute('data-path');
				var type = ctx.a_arr[i].getAttribute('data-type');
				var mime = ctx.a_arr[i].getAttribute('data-mime');
				var size = ctx.a_arr[i].getAttribute('data-size');

				if (path) {
					var node = g.pwd.path_resolve_create(path, type, mime, size);
				}
			}

			return sm.continue(sm.next);
		},

		has_frag: function(sm) {
			if (window.location.hash && window.location.hash.startsWith('#./')) {
				// This might need to call update on the parent node to see if the file exists
				// Which we can do now, because this is a state machine.
				var hash_node = g.pwd.path_resolve(window.location.hash.substr(1));
				if (hash_node) {
					g.target = hash_node;
				//	g.page.node_change_inplace(g.target);
					g.pwd = target.is_dir ? target : target.parent();
				}
				return sm.continue("change_inplace");
			} else if (g.target.has_local_content()) {
				return sm.continue("change_inplace");
			} else {
				return sm.continue("setup_page");
			}
		},

		change_inplace: function(sm) {
			g.page.node_change_inplace(g.target);
			return sm.continue("start_prompt");
		},

		setup_page: function(sm, ctx) {
			// and setup onclick events for links (pre-rendered specific).
			for (var i = 0, l = ctx.a_arr.length ; i < l ; ++i) {
				var path = ctx.a_arr[i].getAttribute('data-path');
				var type = ctx.a_arr[i].getAttribute('data-type');

				if (path) {
					var node = g.pwd.path_resolve(path);

					if (node.type() == robjh.fs.types[type]) {
						ctx.a_arr[i].addEventListener('click', node.event_click);
						ctx.a_arr[i].href = node.url();
					} else {
						console.error("unknown type ("+type+") for path ("+path+") in pre-rendered content.");
					}
				}
			}

			return sm.continue(sm.next);
		},

		page_javascript: function(sm) {
			${js_copybody}
			return sm.continue(sm.next);
		},

		start_prompt: function(sm) {
			document.getElementById("prerendered_prompt").outerHTML=''
			var term = ao.terminal({
				container:  document.getElementById("terminal"),
				auto_focus: false,
				append:     true,
				process: robjh.shell,
				process_init_argv: {
					fs:         g.fs,
					pwd:        g.pwd,
					hostname:   '${domain}',
					username:   'guest',
				}
			});

			return sm.yield("complete");
		},

		complete: function(sm) {
			console.log("onready complete.")
			return sm.yield();
		}

	} }));

--></script>
</body>
</html>
