<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.8">
	<title>${title}</title>
	<link type="text/css" href="${uri}/lib/style.css" rel="stylesheet" />
	<style><!-- ${css} --></style>
</head>
<body>
<div id="master">
	<div id="site_header">
		<div id="terminal">


			<figure aria-labelledby="header_cowsay_caption" class="hide_mobile">
				<figcaption id="header_cowsay_caption" class="cowsay_box" >This is what happens when you prioritise showing off over SEO.</figcaption>
				<pre>        \   ^__^<br>         \  (oo)________<br>            (__)        )\/\<br>                ||----w |<br>                ||     ||</pre>
			</figure>
			<span id="prerendered_prompt">[guest@${domain}:${pwd}]</span>
		</div>
		<div id="header_hr"><hr></div>
	</div>
	<div id="site_container">
${body}
	</div>

</div>
<script src="${uri}/lib/aojs/ao.js"></script>
<script type="text/javascript"><!--
	var ao = ao_get().include('terminal');
--></script>
<script src="${uri}/lib/robjh.js"></script>
<script><!--
'use strict';


	ao.ready(function() {

		var fs = robjh.fs({
			chroot:  "${uri}",
		});

		var path = "${pwd}${name}";
		var target = fs.root.path_resolve_create(path, "${doctype}");
		var pwd = target.is_dir ? target : target.parent();

		var page = robjh.page({
			container:  document.getElementById('site_container'),
			global:     true,
			fs:         fs
		});

		/* expand the filesystem model */
		var a_arr = Array.prototype.slice.call(
			document.getElementById('site_container').getElementsByTagName('a')
		);
		for (var i = 0, l = a_arr.length ; i < l ; ++i) {
			var path = a_arr[i].getAttribute('data-path');
			var type = a_arr[i].getAttribute('data-type');
			var mime = a_arr[i].getAttribute('data-mime');
			var size = a_arr[i].getAttribute('data-size');

			if (path) {
				var node = pwd.path_resolve_create(path, type, mime, size);
			}
		}

		if (window.location.hash && window.location.hash.startsWith('#./')) {
			var hash_node = pwd.path_resolve(window.location.hash.substr(1));
			if (hash_node) {
				target = hash_node;
				page.node_change_inplace(target);
				pwd = target.is_dir ? target : target.parent();
			}
		} else if (target.has_local_content()) {
			page.node_change_inplace(target);
		} else {

			/* and setup onclick events for links. */
			for (var i = 0, l = a_arr.length ; i < l ; ++i) {
				var path = a_arr[i].getAttribute('data-path');
				var type = a_arr[i].getAttribute('data-type');

				if (path) {
					var node = pwd.path_resolve(path);

					if (node.type() == robjh.fs.types[type]) {
						a_arr[i].addEventListener('click', node.event_click);
						a_arr[i].href = node.url();
					} else {
						console.error("unknown type ("+type+") for path ("+path+") in pre-rendered content.");
					}
				}
			}

			${js_copybody}
		}
		page.fix_initial_history(target);

		document.getElementById("prerendered_prompt").outerHTML=''
		var term = ao.terminal({
			container:  document.getElementById("terminal"),
			auto_focus: true,
			append:     true,
			process: robjh.shell,
			process_init_argv: {
				fs:         fs,
				pwd:        pwd,
				hostname:   '${domain}',
				username:   'guest',
			}
		});

	});

--></script>
</body>
</html>
