html {
	height: 100%;
}
body {
	font-family: Sans-Serif;
	margin: 0;
	background-color: #001B33;
	color: #fff;
	min-height: 95%;
}
a {
	color: #48f;
}
pre {
	white-space: pre-wrap;
}
section {
	clear: both;
}
#terminal {
	font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
	overflow: auto;
	max-height: 400px;
	background-color: #001B33;
	color: #fff;
	padding: 0.5em;
}
#terminal pre {
	font-family: inherit;
	padding: 0;
	margin: 0;
}
#terminal .ao_input {
	outline: 0px solid transparent;
	color: #f55;
}
#site_header {
	border-bottom: 1px solid #fff;
}
#header_hr {
	display: none;
}
#site_container {
	padding: 0.5em;
}
#site_footer {
	font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
	font-size: 0.7em;
	border-top: solid 1px #fff;
}
.cowsay_box {
	padding: 0.5em;
	margin: 0.5em 0;
	max-width: 30em ;
	border: #fff 2px dashed;
	display: inline-block;
	white-space: pre-wrap;
}
ul.lscmd {
	padding: 0;
	margin: 0;
}
ul.lscmd li {
	display: inline-block;
	margin-right: 1em;
	min-width: 5em;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 1em;
	text-align: justify;
}

.scaling_image input[type=checkbox] + label img {
	max-width: 100%;
	max-height: 50em;
}

.scaling_image input[type=checkbox]:checked + label img {
	max-width: initial;
	max-height: initial;
}

.hidden {
	display: none;
}
figure {
	padding: 0;
	margin: 0;
}
@media (max-width: 500px) {
	.hide_mobile{
		display: none;
	}
}
.monospace {
	font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
}
ul.command_list {
	font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

ul.command_list li {
	padding-left: 1em;
	text-indent: -1em;
	white-space: pre-wrap;
}

ul.command_list li:before {
	content: "#";
	padding-right: 5px;
}
ul.command_list li.cont:before {
	content: ">";
}
pre code {
	display: block;
	border: solid 1px #fff;
	padding: 1em;
}

aside.slide, .slide_sizebox {
	/* these dimentions have been chosen because they will scale up well on modern displays (16:9) */
	width: 40em;
	height: 22.5em;
	top: 0;
	left: 0;
}

aside.slide {
	display: inline-block;
	border: 1px solid #fff;
	background: #000;
	float: right;
	margin: 0em 1em 2em 1em;
}
.slide_sizebox {
	position: relative;
	padding: 0;
	maefin: 0;
}
.slide_body {
	background-color: #001B33;
	width: 100%;
	height: 100%;
}

.slide h2 {
	border-bottom: 1px solid #fff;
	padding: 0.5em 1em 0 1em;
	margin-top: 0em;
}

.slide_titlecard {
	text-align: center;
}
.slide_titlecard h2 {
	padding: 5em 0 1em 0;
}
.slide_endcard h2 {
	text-align: center;
	padding: 2em 0 1em 0;
}

.slide_content {
	padding: 1em;
}

.slide_graphiccard .slide_content {
	text-align: center;
}
.slide_graphiccard .slide_content img, .slide_graphiccard .slide_content .fakeimg {
	display: inline-block;
	max-height: 17em;
	max-width: 100%;
	padding: 1px;
	border: solid 1px #fff;
}

.slide_table .slide_content table {
	border: 1px solid #fff;
	margin: auto auto;
}
.slide_table .slide_content td {
	min-width: 5em;
	text-align: center;
	padding: 0.2em 1em;
	background: rgba(200,200,200,0.02);
}
.slide_table .slide_content tr:nth-child(odd) td {
	background: rgba(200,200,200,0.04);
}
.slide_table .slide_content td:first-child {
	text-align: justify;
}
.slide_table .slide_content th {
	background: rgba(200,200,200,0.15);
}

.slide_btn {
	position: absolute;
	display: none;
	cursor: pointer;
}
.slide_btn_maximise, .slide_btn_close {
	top: 0;
	right: 0;
	margin: 0.35em;
}
.slide_btn_prev {
	left: 0;
	top: 45%;
}
.slide_btn_next {
	right: 0;
	top: 45%;
}
.slide_btn_maximise {
	display: flex;
}
.slide .slide_btn img{
	visibility: hidden;
}
.slide:hover .slide_btn_maximise img{
	visibility: visible
}
.slide_btn:hover img{
	visibility: visible
}

section.active aside.slide {
	border: none;
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
section.active .slide_body {
	position: relative;
	transform-origin: top left;
}
section.active .slide_btn {
	display: flex;
}
section.active .slide_btn_maximise {
	display: none;
}
